apiVersion: v1
kind: Service
metadata:
  name: sentiment-api-service
  labels:
    app: sentiment-api
spec:
  type: NodePort
  selector:
    app: sentiment-api
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8000
